<section>
  <h1>Add new objective</h1>
  <%= form_for @changeset, Routes.subject_objective_path(@conn, :create, @subject.id), fn f -> %>

    <label>
      Label: <%= text_input f, :label %>
    </label>

    <label>
      School level: <%= text_input f, :school_level %>
    </label>
    
    <label>
      Type: <%= select f, :type, 0..1 %>
    </label>

    <label>
      Description: <%= textarea f, :description, rows: 5, maxlength: 255 %>
    </label>

    <%= submit "Submit" %>
  <% end %>
</section>
