<h2>
  <%= @objective.label %> - <%= @objective.school_level %> -
  <%= link "edit", to: Routes.subject_objective_path(@conn, :edit, @subject, @objective.id) %> -
  <%= link "delete", to: Routes.subject_objective_path(@conn, :delete, @subject, @objective), method: :delete, data: [confirm: "Are you sure?"] %>
</h2>
<div><p>
    Type de l'objectif:
    <%= if @objective.type == false do %>
      Ressource.
    <% else %>
      Tâche.
    <% end %>
    </p></div>
<div><p>Description: <small><%= @objective.description %></small></p></div>

