<section>
  <h1>Create a student here.</h1>
  <%= form_for @changeset, Routes.class_student_path(@conn, :create, @class.id), fn f -> %>

    <label>
      Name: <%= text_input f, :name %>
    </label>

    <label>
      Surname: <%= text_input f, :surname %>
    </label>

    <%= submit "Submit" %>
  <% end %>
</section>
