<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "ProgLogs", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><%= link "Classes", to: Routes.class_path(@conn, :index) %></li>
            <li><%= link "Subjects", to: Routes.subject_path(@conn, :index) %></li>
            <li><%= link "About", to: Routes.page_path(@conn, :index) %></li>
          </ul>
          <%= render "_user_menu.html", assigns %>
        </nav>
        <h1>ProgLogs</h1> 
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
