<section>
  <h1>Modify class: <%= @class.label %></h1>
  <%= form_for @changeset, Routes.class_path(@conn, :update, @class), fn f -> %>

    <label>
      Label: <%= text_input f, :label %>
    </label>

    <%= submit "Submit" %>
  <% end %>
</section>
